<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Catalogo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">catalogo</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list class="card-container">
    <ion-card class="small-card">
      <ion-img src="../../../assets/shirts.jpg" class="card-img"></ion-img>
      <ion-card-header>
        <ion-card-title>Superior</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Descubre nuestra selección de playeras y camisas para todos los estilos y ocasiones. Encuentra diseños únicos y
        de alta calidad para complementar tu guardarropa.
      </ion-card-content>
      <ion-button fill="clear">Ver más</ion-button>
    </ion-card>

    <ion-card class="small-card">
      <ion-img src="../../../assets/jeans.jpg" class="card-img" />
      <ion-card-header>
        <ion-card-title>Pantalones</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Colección de pantalones de alta calidad para hombre y mujer. Encuentra los últimos diseños y tendencias de moda
        en nuestra tienda en línea.
      </ion-card-content>
      <ion-button fill="clear">Ver más</ion-button>
    </ion-card>

    <ion-card class="small-card">
      <ion-img src="../../../assets/tenis.jpg" class="card-img" />
      <ion-card-header>
        <ion-card-title>Zapatería</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Descubre nuestra selección de zapatos y tenis para complementar tu estilo, desde clásicos hasta modernos
        diseños. Encuentra la combinación perfecta de comodidad y estilo para cada ocasión.
      </ion-card-content>
      <ion-button fill="clear">Ver más</ion-button>
    </ion-card>

    <ion-card class="small-card">
      <ion-img src="../../../assets/hats.jpg" class="card-img" />
      <ion-card-header>
        <ion-card-title>Sombreros</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Descubre nuestra selección de gorras para complementar tu estilo y protegerte del sol. Encuentra diseños únicos
        y de alta calidad para complementar tu guardarropa.
      </ion-card-content>
      <ion-button fill="clear">Ver más</ion-button>
    </ion-card>
  </ion-list>
</ion-content>