@media (min-width: 700px) {
    .card-container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap; /* Añadimos esta propiedad */
    }
  
    .small-card {
      width: 45%;
      font-size: 0.8rem;
    }
  
    ion-card {
      height: 400px;
    }
    
    /* Seleccionamos los primeros dos elementos */
    .card-container ion-card:nth-child(-n+2) {
      flex-basis: 45%;
      margin-right: 20px;
    }
    
    /* Especificamos el margen derecho del segundo elemento como cero */
    .card-container ion-card:nth-child(2) {
      margin-right: 0;
    }
  }
  
  .card-img {
    height: 165px;
    object-fit: cover;
  }
  