<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button routerLink="../register">
        <ion-icon slot="icon-only" name="person-add"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Iniciar Sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="login-card">
    <form [formGroup]="form" (ngSubmit)="iniciaSesion()">
      <ion-card-header>
        <ion-card-title class="ion-text-center">Iniciar Sesión</ion-card-title>
      </ion-card-header>
      <ion-list>
        <ion-item>
          <ion-label position="floating">Usuario:</ion-label>
          <ion-input type="text" formControlName="usuario"></ion-input>
        </ion-item>
        <ion-item *ngIf="usuarioField?.errors && usuarioField?.dirty">
          <ion-text color="danger">
            <p>Este campo es obligatorio</p>
          </ion-text>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Contraseña:</ion-label>
          <ion-input type="password" formControlName="contrasena"></ion-input>
        </ion-item>
        <ion-item *ngIf="contrasenaField?.errors && contrasenaField?.dirty">
          <ion-text color="danger">
            <p>Este campo no puede estar vacío</p>
          </ion-text>
        </ion-item>
      </ion-list>

      <ion-button type="submit" [disabled]="form.invalid" expand="block">
        Iniciar Sesión
      </ion-button>

      <ion-item *ngIf="errorField">
        <ion-text color="danger">
          <p>{{err}}</p>
        </ion-text>
      </ion-item>
    </form>
  </ion-card>
</ion-content>

