<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end" *ngIf="token === 'null'">
      <ion-button routerLink="../login" >
        <ion-icon slot="icon-only" name="person"></ion-icon>
      </ion-button>
      <ion-button routerLink="../register">
        <ion-icon slot="icon-only" name="person-add"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>VESTA</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Bienvenido a VESTA</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Explora nuestras últimas colecciones</p>
    </ion-card-content>
  </ion-card>

  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-card (click)="getColeccion('mujer')" class="collecion">
          <ion-img src="../../../assets/inicio/cmp/women.jpg" class="card-img"></ion-img>
          <ion-card-header>
            <ion-card-title>Colecciones de Mujer</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card (click)="getColeccion('hombre')" class="collecion">
          <ion-img src="../../../assets/inicio/cmp/men.jpg" class="card-img"></ion-img>
          <ion-card-header>
            <ion-card-title>Colecciones de Hombre</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
