<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>VESTA</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Bienvenido a VESTA</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Explora nuestras últimas colecciones</p>
    </ion-card-content>
  </ion-card>

  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-card routerLink="/productos" class="collecion">
          <ion-img src="../../../assets/women.jpg" class="card-img"></ion-img>
          <ion-card-header>
            <ion-card-title>Colecciones de Mujer</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card routerLink="/productos" class="collecion">
          <ion-img src="../../../assets/men.png" class="card-img"></ion-img>
          <ion-card-header>
            <ion-card-title>Colecciones de Hombre</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
